html,
body,
[canvas=container],
[off-canvas] {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    font-size: .8rem;
    color: #BD5D38;
    webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #E7E6E5;
}

ul:last-of-type {
    webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    border: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    line-height: 2.3em;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    opacity: 1;
    background: #fff;
    display: block;
    border-radius: 50%;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 9px;
    top: 4px;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: red;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/**
 * Canvas
 */

[canvas] {
    z-index: 1;
}

[canvas=container] {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    background-color: #666;
    -webkit-overflow-scrolling: touch;
}

[canvas=container]:before,
[canvas=container]:after {
    clear: both;
    content: '';
    display: table;
}

[off-canvas] {
    display: none;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
    color: black;
    -webkit-overflow-scrolling: touch;
}

[off-canvas] .FoodNameTitle {
    text-align: center;
}

[off-canvas*=bottom] {
    width: 100%;
    height: auto;
    bottom: 0;
}

[off-canvas*=reveal] {
    z-index: 0;
}

[off-canvas*=push] {
    z-index: 1;
}

[off-canvas*=overlay] {
    z-index: 9999;
}

[off-canvas*=shift] {
    z-index: 0;
}


/**
 * Animation
 */

[canvas],
[off-canvas] {
    -webkit-transform: translate( 0px, 0px);
    -ms-transform: translate( 0px, 0px);
    transform: translate( 0px, 0px);
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-backface-visibility: hidden;
    /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
}

[off-canvas*=shift][off-canvas*=bottom] {
    -webkit-transform: translate( 0px, -50%);
    transform: translate( 0px, -50%);
}


/**
 * Print
 */

@media print {
    [canvas] {
        -webkit-transform: translate( 0px, 0px) !important;
        -ms-transform: translate( 0px, 0px) !important;
        transform: translate( 0px, 0px) !important;
    }
    [off-canvas] {
        display: none !important;
    }
}

[canvas=container],
[off-canvas] {
    padding: 0px;
    border-radius: 20px 20px 0 0;
}

[canvas=container],
[off-canvas] .foodImgModal img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

[class*=js-] {
    cursor: pointer;
}

.plus-minus-input {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: red;
    display: flex;
    justify-content: space-around;
    width: 60%;
    flex-wrap: nowrap;
    border-radius: 30px;
}

.plus-minus-input .input-group-field {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    border: none;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.plus-minus-input .input-group-button .circle {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0.25em 0.8em;
}

.countBox {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 60%;
    margin: auto;
}

.countBox .priceBox {
    background-color: #E7E7E7;
    padding: 4px;
    border-radius: 20px 0px 0px 20px;
    width: 50%;
    left: -10px;
    position: absolute;
    text-align: center;
}

.ingredient p {
    margin: 0;
    padding: 0;
    color: #6F6F6F;
    font-size: 16px;
}

.SizeCheck input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    font-family: 'Arial'
}

.SizeCheck input[type=checkbox] {
    display: none;
}

.SizeCheck input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.5px solid #FF0000;
    border-radius: 0.2em;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-left: 0.3em;
    padding-bottom: 0.2em;
    margin-right: 0.5em;
    vertical-align: bottom;
    color: #fff !important;
    transition: .2s;
}

.SizeCheck input[type=checkbox]+label:active:before {
    transform: scale(0);
}

.SizeCheck input[type=checkbox]:checked+label:before {
    background-color: #FF0000;
    border-color: #FF0000;
    color: #fff;
}

.SizeCheck input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

.SizeCheck input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #F7C28F;
    border-color: #F7C28F;
}

.aditionals {
    height: 100px;
}

.aditionals .basketBtn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.aditionals .basketBtn button {
    background: #FF0000;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-weight: 500;
    align-items: center;
    font-size: 18px;
}

.aditionals .basketBtn button img {
    margin-right: 6px;
}

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #FF0000;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #FF0000;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled~.control__indicator:after {
    background: #7b7b7b;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover~.select__arrow,
.select select:focus~.select__arrow {
    border-top-color: #000;
}

.select select:disabled~.select__arrow {
    border-top-color: #ccc;
}